<div class="schools-content">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for school in schools %}
            <tr>
                <th scope="row"><a href="{{ url_for('.school', id=school.id) }}">{{ school.name }}</a></th>
                <td>{{ school.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
