<ul class="posts">
    {% for school in schools %}
    <li class="post">
        <div class="school-content">
            <div class="t-date">{{ moment(school.created).fromNow() }}</div>
            <div class="school-name"><a href="{{ url_for('.school', id=school.id) }}">{{ school.name }}</a></div>
            <div class="school-description">{{ school.description }}</div>
            <div class="school-teachers">{{ school.teachers.all() | length }} Teachers</div>
            <div class="school-students">{{ school.students.all() | length }} Students</div>
        </div>
    </li>
    {% endfor %}
</ul>
