<div class="score-content">
    <table class="table">
        <thead>
            <tr>
                <th>Game</th>
                <th>State</th>
                <th>Score</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
            <tr>
                <td>{{ score.game }}</td>
                <td>{{ score.state }}</td>
                <td>{{ score.score }}/{{ score.max_score }}</td>
                <td>{{ score.duration }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
