{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Backend - Batch add users{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Batch add users</h1>
    <p>Paste the text of the CSV with a list of users. Each line must contain the following information: <tt>username  password  teacher</tt>. Each field must be separated by a tab character. Example:</p>
    <pre>
    user1&#9;password&#9;teacher1
    user2&#9;password&#9;teacher1
    user3&#9;password&#9;teacher1
    user4&#9;password&#9;teacher1</pre>
    <p>Ideally you should be able to paste data directly from Google Sheets. Make sure that you don't include the headers in the selection.</p>
</div>

<div class="col-md-12">
    {{ wtf.quick_form(form) }}
</div>

{% endblock %}

{% block styles -%}
{{super()}}
<style>

textarea.form-control {
    height: 300px;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
</style>
{% endblock styles %}

