{% extends "base.html" %}

{% block title %}Backend{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
    {% if current_user.is_authenticated %}
    <a class="btn" href="{{ url_for('.school_stats') }}">Download stats by school</a>
    <a class="btn" href="{{ url_for('.user_stats') }}">Download stats by user</a>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
