{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Backend - {{ school.name }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <div>
        <h1>{{ school.name }}</h1>
        {% if school.description %}
        <p>
            {{ school.description }}
        </p>
        {% endif %}
        <p>{{ school.teachers.all()|length }} Teachers</p>
        <p>{{ school.students.all()|length }} Students</p>
    </div>
    {% if current_user.is_administrator() %}
    <a class="btn btn-danger" href="{{ url_for('.edit_school', id=school.id) }}">Edit School</a>
    {% endif %}
    <div class="teachers-tabs">
        {% with users=school.teachers %}
        {% include '_users.html' %}
        {% endwith %}
    </div>
    <div class="students-tabs">
        {% with users=school.students %}
        {% include '_users.html' %}
        {% endwith %}
    </div>
    </div>
</div>
{% endblock %}