{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Backend - {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        {% if user.name %}
        <p>
            {{ user.name }}<br>
        </p>
        {% endif %}
        {% if current_user.is_administrator() and user.email %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.is_administrator() %}
        <p><span class="label label-danger">Administrator</span></p>
        {% endif %}
        {% if user.is_teacher() %}
        <p><span class="label label-primary">Teacher</span></p>
        {% endif %}
        {% if user.is_student() %}
        <p><span class="label label-default">Student</span></p>
        {% endif %}
        <p>Member since {{ moment(user.created).format('L') }}. Last seen {{ moment(user.updated).fromNow() }}.</p>
        <p>
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
            {% endif %}
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
            {% endif %}
        </p>
    </div>
    {% if user.have_scores() %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Scores</h3>
        </div>
        <div class="panel-body">
            {% with scores=user.scores %}
            {% include '_user_scores.html' %}
            {% endwith %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Max scores per game</h3>
        </div>
        <div class="panel-body">
            {% with scores=user.max_score_by_game %}
            {% include '_user_scores.html' %}
            {% endwith %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
